<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Header Admin</h1>
  </header>
    <%- body %>
  <footer>
    <h1>Footer Admin</h1>
  </footer>
  <%# script tổng cho toàn bộ các file dùng layout%>
  <script src="/admin/assets/js/script.js"></script>
  <%# script riêng cho từng file%>
  <%- script %>
</body>
</html>